* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
    
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: rgb(153, 153, 153);
    position: relative;
}

.books-display {
    counter-reset: book;
    display: grid;
    min-height: 100vh;
    grid: auto-flow 20rem / repeat(auto-fit, minmax(20rem, 21rem));
    gap: 3rem;
}

.books-display > section {
    background-color: rgb(31, 53, 73);
}

.books-display > section::before {
    counter-increment: book;
    content: counter(book) '. ';
    color: black;
}

button {
    display: block;
    margin: auto;
}

.form-inputs-layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    align-items: center;
}

[type="checkbox"] {
    justify-self: start;
    width: 1.3rem;
    height: 1.3rem;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238, 0.3);
}

.add {
    font-size: 3rem;
    align-self: center;
}

/*Style dialog*/

dialog::backdrop {
    background-color: rgb(31, 53, 73, 0.72);
}

dialog {
    border: none;
    width: 25rem;
    min-height: 34rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*End style dialog*/