* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
    
}

body {
    display: grid;
}

.books-display {
    counter-reset: book;
    display: grid;
    min-height: 100vh;
    grid: auto-flow 20rem / repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.books-display > section::before {
    counter-increment: book;
    content: counter(book) '. ';
    color: black;
}

button {
    display: block;
    margin: auto;
}

/* Style modal */
h2 {
    font-size: 37px;
}

.modal {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    /* visibility: hidden; */
    /* starts big and scales to be small and on fade starts small and scales to be big to pop out */
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1f1f1f;
    padding: 1rem 1.5rem;
    color: white;
    width: 24rem;
    height: 10rem;
    border-radius: 0.5rem;
}

div .close-button {
    color: black;
    background-image: linear-gradient(to right, var(--player-color), var(--bot-color));
}

.close-button {
    padding: 0.8rem 1.1rem;
    width: 70%;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 26px;
}

.close-button:hover {
    background-image: linear-gradient(to right, var(--player-color-glow), var(--bot-color-glow));
    transform: scale(1.1);
}

.show-modal {
    visibility: visible;
    transform: scale(1.0);
    /* for show and hide transition on both*/
    transition: visibility 0s linear 0s, transform 0.25s, background-color 0.25s 0s;
}

/*End style modal*/