* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
    
}

body {
    display: grid;
}

.books-display {
    counter-reset: book;
    display: grid;
    min-height: 100vh;
    grid: auto-flow 20rem / repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.books-display > section::before {
    counter-increment: book;
    content: counter(book) '. ';
    color: black;
}

button {
    display: block;
    margin: auto;
}